*{
  --text-color-black: #000000;
  --text-color-gray: #555;
  --text-color-light: #FFFFFF;
}

nav {
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,.09);
  display: flex;
  font-size: 1.7rem;
  height: auto;
  justify-content: space-between;
  left: 0;
  padding: 25px 40px 25px 50px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
}

.navbar {
  background-color: #ffffff;
  font-family: 'Victor Mono', monospace;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.TopLink {
  display: flex;
}

.TopLink :hover {
  text-decoration: underline;
}

.top-link {
  display: flex;
  text-decoration: none;
  color: #000000;
  margin: 10px;
  font-size: 20px;
  font-weight: 500;
}

.linkicon {
  flex:1;
}

.icon{
  margin: 10rem auto;
  text-align: center;
  padding: 10% 15%;
  width: 15%;
  height: 10%;
  border-radius: 15px;
  border: 2px solid black;
}

.Logo{
  font-size: 25px;
  color: #2d2e32;
  cursor: pointer;
}

.george-photo{
    animation: morph 8s ease-in-out infinite;
    background-image: url(../src/Myphoto.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #2d2e32;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    height: 35rem;
    position: relative;
    transition: all 1s ease-in-out;
    width: 35rem;
}

.Me{
  width: 100%;
  margin: 20px auto;
  padding: 0 4rem;
  background-color: #f9f9f9;
  max-width: 90rem;
  margin-inline-start: auto;
  margin-inline-end: auto;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.content {
  align-items: center;
  display: flex;
  gap: 10rem;
  height: 65rem;
  justify-content: center;
  position: relative;
}

.discription{
  align-items: center;
  display: flex;
  gap: 5rem;
  margin-top: 50px;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  max-width: 90rem;
}

.intro {
  max-width: 50rem;
}

.discription p {
  color: #555;
  font-family: Mulish,sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.6;
}

.biotext {
  font-family: Mulish,sans-serif;
  font-size: 17px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.biotext h3 {
  margin-right: 10px;
}

.logo11 {
  display: flex;
  font-family: 'Victor Mono', monospace;
  font-size: 24px;
  font-weight:bold;
  margin-right: 1.25rem;
  align-items: center;
  cursor: pointer;
}

.logo11 a {
  color: black;
  text-decoration: none;
}

.logo11{
  padding: 0 10px;
}

.linking{
  justify-content: center;
  align-items: center;
  height: auto;
  font-family: 'Victor Mono', monospace;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  margin-right: 30px;
  padding-right: 20px;
}

.link{
  margin-bottom: 20rem;
}

.link li{
  margin-bottom: 5px;
  list-style: none;
}

.link a {
  text-decoration: none;
}

.link button{
  display: flex;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 700;
  color: #007F73;
  background-color: transparent;
  border: none;
  padding: 10px;
  margin-bottom: 5px;
}

.link li :hover{
  color: #f8f8f8;
  border-radius: 5px;
  background-color: #007F73;
}
.link svg {
  display: flex;
  margin-right: 10px;
}

.link img{
  display: flex;
  margin-right: 10px;
  height: 40px;
  width: 40px;
}

/*.link ul li{
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0,0,0,.09);
  background-color: #ffffff;
  border-radius: 50%;
  margin: 5px;
  width: 60px;
  height: 60px;
}*/



.material-symbols-outlined {
  color: #000000;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.bloglink {
  font-size: 30px;
}

.bloglink a{
  text-decoration: underline;
  color: #000000;
}

.label {
  text-underline-offset: 6px;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  margin: 15px auto;
}

.copyright {
  font-size: 0.875rem;
  padding: 5rem;
}

@media screen and (min-width: 48em){
.TopLink {
  background-color: #ffffff;
  font-family: 'Victor Mono', monospace;
  display: flex;
  align-items: center;
}
}

@supports (display: none) {
  @media screen and (max-width: 48rem) {
    .TopLink {
      display: none;
    }
  }
}

@media screen and (min-width: 48em){
  .Linkmobile {
    display: none;
  }

  }
  
  @supports (display: flex) {
    @media screen and (max-width: 48rem) {
      .logo11{
        margin: 0;
      }
      .Linkmobile {
        font-family: 'Victor Mono', monospace;
        vertical-align: middle;
        display: inline-block;
      }
      .menubutton{
        min-width: 4rem;
        height: 4rem;
        display: inline-block;
        vertical-align: middle;
        line-height: 1.2;
        user-select: none;
        position: relative;
        align-items: center;
        border: 1px solid;
        border-radius: 5px;
        justify-content: center;
        color: #000000;
        padding: 0;
        background: transparent;
        border-color: rgba(0, 0, 0, 0.16);
      }
      .menubutton:hover {
        background: #f8f8f8;
      }
      .menubutton:active {
        background: #f8f8f8;
      }
      .menu-icon{
        text-align: center;
        vertical-align: middle;
        width: 2em;
        height: 2em;
        display: inline-block;
        line-height: 1em;
      }
    }
  }