/*body {
  font-family: 'Victor Mono', monospace;
  position: relative;
}*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f8f8f8;
  font-family: Poppins,sans-serif;
  position: relative;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: #8e8e8e;
    border-radius: 20px;
}
::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 20px;
}

h1 {
  color: #2d2e32;
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 2rem;
  margin-top: 2rem;
}


h3 {
  font-size: 20px;
  margin-block-start: 1em;
  padding: 0;
  margin: 0;
  font-weight: bold;
}

p {
  color: #555;
  font-family: Mulish,sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.6;
}

